body {
    background-color: #ffff00;
    font-family:Times New Roman;
    font-size:20px;}

nav {
    background-color: #eb0000;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
}

nav a {
    color: white;
    padding: 10px 30px;
    margin: 30px;
    background-color: #ffff00;
    text-decoration: none;
    border-radius: 10px;
}

header {
    background-color:#eb0000;
    border-radius: 15px;
}

h1 {
    text-align:center;
    color:#ffff00;
}

.second_title {
    font-family:sans-serif;
    color:#ffffff;
}

footer {
    background-color:#eb0000;
    font-size:15;
    color:#ffff00;
    border-radius: 15px;
    padding-left: 20px;
}

footer a {
    text-decoration: none;
    color: #ffff00;
}

footer p {
    color: #ffff00;
}

main table {
    border:2px solid #ff0000;
    border-collapse:collapse;
    font-size:20px;
}

main td {
   border:2px solid #ff0000 
}

.lego {
    border:3px solid #ff0000;
    border-radius: 5px;
    margin: 20px 20px;
    padding: 5px 5px;
}
